<p id="notice"><%= notice %></p>

<h1>Listing Tags</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Member</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.photo_id %></td>
        <td><%= tag.member_id %></td>
        <td><%= tag.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

