<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Create member</th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.path %></td>
        <td><%= photo.create_member_id %></td>
        <td><%= link_to 'Show', photo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

