<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <% @photos.each do |photo| %>
    <div class="col-md-2">
      <%= link_to image_tag(photo_get_photo_path(photo), :class => 'img-thumbnail img-responsive'),
                  photo_path(photo), :class => 'thumbnail' %>
    </div>
  <% end %>
</div>