// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn.active {
  color: #ffffff;
  background-color: #3071a9;
  border-color: #285e8e;
}

dt {
  margin-top: 10px;
  font-size: 16px;
}

dd {
  margin-top: 10px;
  font-size: 16px;
}

.img-thumbnail.taged {
  background-color: #76d8ff;
}

.btn-center {
  text-align:center;
}
