<h1>2ショット枚数</h1>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
  	<thead>
  	  <tr>
  	  	<th></th>
  	  	<% @members.each do |m| %>
  	  	  <th class="tategaki"><%=m.name %></th>
  	  	<% end %>
  	  </tr>
    </thead>
    <tbody>
      <% @members.each do |m| %>
        <tr>
          <td><%= m.name %></td>
          <% @members.each do |m2| %>
            <% if m.id == m2.id %>
              <td></td>
            <% else %>
              <% if m.id < m2.id
                   count = @counts[m.id][m2.id]
                 else
                   count = @counts[m2.id][m.id]
                 end	
              %>
              <% if count == 0  %>
                <td class="zero">0</td>
              <% else %>
                <td>
                  <%= count %>
                </td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>